*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}
body {
  font-family: "roboto", sans-serif;
}
nav {
  display: flex;
  gap: 76px;
}
address {
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  border: unset;
  outline: none;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 1158px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
.logo {
  color: var(--navyblue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-lower {
  color: var(--cloud);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.web {
    color: var(--iris);
}
.nav-bar {
    padding: 24px;
    border-bottom: 1px solid var(--cornflower);
}
.container-nav-bar {
    display: flex;
    justify-content: space-between;
}
.list-nav-bar {
    display: inline-flex;
    gap: 40px;
}
.list-item-nav-bar {
    text-transform: capitalize;
    position: relative;
}
.list-item-link-nav-bar:hover,
.list-item-link-nav-bar:focus,
.list-item-link-nav-bar:active,
.list-item-link-address:hover,
.list-item-link-address:focus,
.list-item-link-address:active {
    color: var(--ocean);
}
.list-item-link-nav-bar::after{
  content: '';
  background-color: var(--OCEAN);
  display: block;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left:0px;
  bottom:0px;
  opacity: 1;
}
.list-item-link-nav-bar {
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.list-address {
  display: inline-flex;
  gap: 30px;
}
.list-item-address {
  color: var(--slate);
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}